<div class="container pt-4">
  <div class="row about-container">
    <h1>Despre noi</h1>
    <hr />
    <div class="col-md-6 col-sm-12"></div>
    <div class="col-md-6 col-sm-12">
      <p>
        2 pe 2 Arhitectura, înființată in 2021, s-a născut din dorința de face
        arhitectură durabilă și sustenabilă fără compromisuri. O asociere între
        2 arhitecți, compania noastră mizează pe o dezvoltare organică, lăsând
        roadele muncii să vorbească de la sine. Apreciem minimalismul, lucrurile
        simple executate corect, focusându-ne pe funcționalitate înainte de
        toate. Punem preț pe colaborarea strânsă cu beneficiarii noștri și ne
        adaptăm nevoilor lor, acest aspect din urmă fiind unul dintre
        principiile de bază ale ideologiei noastre.
      </p>
    </div>
  </div>
  <h1 class="text-md-end">Echipa</h1>
  <hr />
  <div class="row pt-4 echipa-container">
    <div class="col-md-6 col-sm-12">[Insert imgs here]</div>
    <div class="col-md-6 col-sm-12"></div>
  </div>
  <h1>Contact</h1>
  <hr />
  <div class="row pt-4 contact-container">
    <div class="col-md-6 col-sm-12"></div>
    <div class="col-md-6 col-sm-12">
      <address>Adresa birou ? aici</address>
      <p>arh. Ionut Nistor | arhitect asociat | i@2pe2.ro</p>
      <p>arh. Celalalt Arhitect | arhitect asociat | c@2pe2.ro</p>
    </div>
  </div>
</div>
