<footer class="container footer">
  <div class="row">
    <div class="col-md-6 text-center text-md-start social-media">
      <p>
        <i class="fas fa-copyright"></i> 2024 2pe2Arhitectura .Toate drepturile
        sunt rezervate, conform Legii nr. 8/1996 privind drepturile de autor.
        Întregul conținut al site-ului, indiferent de natura lui (text, imagini,
        elemente grafice, software si alte elemente similare), este proprietatea
        2pe2Arhitectura si nu poate fi însușit, reprodus, modificat, transferat,
        distribuit, republicat, copiat sau transmis în orice alta formă fără
        permisiunea scrisă a autorilor.
      </p>
    </div>

    <div class="col-md-6 text-center text-md-end">
      <div class="social-media">
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          class="me-3"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-maker text-center mt-4">
    <p>
      Made with <i class="fa-regular fa-heart text-danger me-2"></i>
      <a href="https://skillview.ro" target="_blank">
        by <i class="fas fa-robot ms-2"></i
      ></a>
    </p>
  </div>
</footer>
