<div class="container text-center text-md-start my-5">
  <img
    src="./../../../assets/homepage.jpg"
    alt="Service Image"
    class="img-fluid mb-4"
  />

  <h2>Servicii</h2>

  <p>
    2 pe 2 Arhitectura oferă servicii complete în domeniul arhitecturii și
    urbanismului. Printre proiectele noastre finalizate se numără reabilitări,
    extinderi și modernizări ale școlilor și grădinițelor, precum și colaborări
    cu sectorul privat pentru construirea de case unifamiliale.
  </p>
  <p>
    De asemenea, ne concentrăm pe dezvoltarea durabilă și pe sustenabilitatea
    clădirilor pe care le proiectăm. Ne angajăm să implementăm și să aplicăm
    principiile clădirilor verzi, având întotdeauna în vedere reducerea
    impactului asupra mediului înconjurător.
  </p>
</div>
