<div class="container my-5">
  <div class="row">
    <div class="col-md-4 col-sm-12 mb-4">
      <a routerLink="/projects/projectone" class="project-card">
        <img
          src="./../../../assets/projectone.jpg"
          alt="Project One"
          class="img-fluid"
        />
        <div class="overlay">
          <span>Project One</span>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 mb-4">
      <a routerLink="/projects/projectone" class="project-card">
        <img
          src="./../../../assets/projectone.jpg"
          alt="Project Two"
          class="img-fluid"
        />
        <div class="overlay">
          <span>Project One</span>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 mb-4">
      <a routerLink="/projects/projectone" class="project-card">
        <img
          src="./../../../assets/projectone.jpg"
          alt="Project Three"
          class="img-fluid"
        />
        <div class="overlay">
          <span>Project One</span>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <a routerLink="/projects/projectone" class="project-card">
        <img
          src="./../../../assets/projectone.jpg"
          alt="Project Four"
          class="img-fluid"
        />
        <div class="overlay">
          <span>Project One</span>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a routerLink="/projects/projectone" class="project-card">
        <img
          src="./../../../assets/projectone.jpg"
          alt="Project Five"
          class="img-fluid"
        />
        <div class="overlay">
          <span>Project One</span>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a routerLink="/projects/projectone" class="project-card">
        <img
          src="./../../../assets/projectone.jpg"
          alt="Project Six"
          class="img-fluid"
        />
        <div class="overlay">
          <span>Project One</span>
        </div>
      </a>
    </div>
  </div>
</div>
